* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #eceef1;
}

.sign-in-area-wrapper {
    padding: 10px 30px;
    height: 60px;
}

.sign-in-area-container {
    display: flex;
    justify-content: flex-end;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #505050;
}

.forgot-user-id-box {
    font-size: 12px;
    margin-left: 10px;
    text-align: right;
    align-self: center;
}

.forgot-user-id-box div {
    margin-bottom: 7px;
}

.sign-in-box {
    font-size: 12px;
    margin-left: 10px;
}

/* all anchor tags design */
a {
    text-decoration: none;
    color: #0077c5;
}

.sign-in {
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    padding: 13px;
    width: 95px;
    color: #fff;
}

.lock-img {
    height: 1em;
    width: .8em;
    margin-top: 2px;
    margin-right: 4px;
    vertical-align: text-top;
    display: inline-block;
    background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.2.9/images/icon-whitelock@3x.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.main {
    width: 350px;
    padding: 0 30 3px;
    margin: 0 auto;
    justify-content: center;
}

.main img {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-image {
    height: 60px;
}

.logo-container {
    display: flex;
    
  }

  .logo-container > img {
    margin-right: 15px;
  }

  .logo {
    width: 60px;
    height: 19px;
    margin: 10px 5px 15px;
  }
  
/* start of form-box design */
.form-box {
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 400px;
    margin: 0 auto;
    border: 1px solid #b7b7b7cf;
}
form {
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    padding: 30px;
}

fieldset {
    border: none;
}

.heading {
    color: #4c4c4c;
    text-align: center;
    padding-bottom: 18px;
    line-height: 1.4;
}

h2 {
    padding-bottom: 17px;
}

.heading a {
    font-size: 12px;
}

label {
    display: block;
    color: #404040;
    margin-bottom: 20px;
}

input {
    width: 100%;
    border: 1px solid #c6c7cc;
    margin: 12px 0;
    padding: 8px;
    border-radius: 3px;   
}

button {
    background: #0077C5;
    border: #0077C5;
    width: 100%;
    border-radius: 3px;
    color: white;
    padding: 15px; 
    background-size: contain; 
    background-repeat: no-repeat;
    font-size: 16px;
}

button img {
    width: 15px;
    height: 15px;
    margin-right: 7px;
}

.terms {
    text-align: center;
    font-style: italic;
    padding: 35px 0 8px;
    line-height: 1.8;
    font-size: 12px;
    color: #757575;
}

.captcha {
    background-color: #eceef1;
    padding: 10px;
    font-size: 10px;
    font-style: italic;
    color: #8d9096;
    text-align: center;
}
/* End of Form- Box */

/* start of footer */